
.App-header{
  padding: 18px;
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.App-logo{
  width: 100px;
  height: 50px;

}
ul{
  list-style: none;
}

.Nav_list{
  margin: 10px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.graficiwrapper, 
.inforwrappers,
.homewrapper,
.resultiwrapper{
  padding: 30px;
  background-color: #ecf0f1;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}